In [1]:
1+1

2

In [4]:
print(1+1)
print(1+2)

2
3

In [5]:
num=3
print(num)

3

In [6]:
num=5
print(num)

5

In [7]:
num1=13
print(num1)

13

In [8]:
num2=25
print(num2)

25

In [9]:
num2=77
print(num2)

77

In [10]:
print(num1, num2)

13 77

In [12]:
num3=3.1425
print(num3)

3.1425

In [13]:
num4=1.25
print(num4)

1.25

In [14]:
num5=3.0
print(num5)

3.0

In [15]:
type(num1)

int

In [16]:
type(num5)

float

In [18]:
num6=3
num6

3

In [19]:
num6==num5

True

In [20]:
type(num5)==type(num6)

False

In [21]:
string='Hello Python'
print(string)

Hello Python

In [22]:
type(string)

str

In [27]:
#'this is Jane's appple'
'this is Jane\'s appple'

"this is Jane's appple"

In [25]:
str1="Funny python"
str2='Easy python'
print(str1,str2)

Funny python Easy python

In [28]:
num_1=1
print(num_1)

1

In [29]:
num!1=1
print(num!1)

SyntaxError: invalid syntax (4101789396.py, line 1)

In [30]:
1a=1
print(1a)

SyntaxError: invalid syntax (3212355473.py, line 1)

In [32]:
a,b=10,15
print(a,b)

10 15

In [33]:
a=b=10
print(a,b)

10 10

- x에 100을 대입하고, y에 200을 대입한 뒤, summation에 x와 y의 합을 대입해주세요.

In [37]:
x=100
y=200
summation=x+y
summation

300

In [38]:
x=200
summation

300

In [40]:
a="Hello\nPython"
print(a)

Hello
Python

In [42]:
name="My name is YH"
name[-2]

'Y'

In [43]:
name[0:1]

'M'

In [44]:
name[0:2]

'My'

In [51]:
name[::2]

'M aei H'

In [52]:
import time
now=time.strftime('%Y.%m.%d - %H:%M:%S')
now

'2022.07.22 - 12:07:48'

In [53]:
type(now)

str

- 연도:2022
- 월일:0722
- 시각:12시
- 분초:0748

In [73]:
year=now[:4]
month=now[5:7]+now[8:10]
clock=now[13:15]+"시"
minute=now[16:21]
print(" 연도:",year,"\n","월일:",month,"\n","시각:",clock,"\n","분초:",minute)

 연도: 2022
 월일: 0722
 시각: 12시
 분초: 07:48

In [101]:
yd_info = "20220722Sunny"
# yd_info2="20220723Cloudy"
# yd_info3="20220724Fog"

In [102]:
a = yd_info[:4]
b = yd_info[4:8]
c = yd_info[8:]
print(a, b, c)

2022 0722 Sunny

# 포맷팅(Formatting)

- %를 사용하는 방법
- format함수를 사용하는 방법

In [88]:
# %를 사용하는 방식 (%s:문자,%d:숫자)
menu1 = "김치볶음밥"
menu2 = "우동"
sentence = "오늘 메뉴는 %s과 %s입니다."%(menu1,menu2)
sentence

'오늘 메뉴는 김치볶음밥과 우동입니다.'

In [89]:
menu = "김치볶음밥"
price = 5000
sentence = "오늘 메뉴는 %s이고, 가격은 %d원입니다."%(menu,price)
sentence

'오늘 메뉴는 김치볶음밥이고, 가격은 5000원입니다.'

In [98]:
# format함수를 사용하는 방식 
menu = "김치볶음밥"
price = 5000
sentence = "오늘 메뉴는 {}이고, 가격은 {}원입니다.".format(menu,price)
sentence = "오늘 메뉴는 {0}이고, 가격은 {1}원입니다.".format(menu,price)
sentence = f"오늘 메뉴는 {menu}이고, 가격은 {price}원입니다."
sentence

'오늘 메뉴는 김치볶음밥이고, 가격은 5000원입니다.'

- 김치볶음밥은 5000원
- 우동은 4000원

In [104]:
kimchi_price=5000
udon_price=4000
num_kimchi=2
num_udon=2
print("총 가격은 {0}원 입니다.".format(kimchi_price*num_kimchi+udon_price*num_udon))

총 가격은 18000원 입니다.

In [119]:
song="tell me tell me tetetetete tell me"
#횟수 세기
song.count("tell me")

3

In [111]:
#찾기
song.find("me")
#찾으면 정수, 없으면 -1로 알려줌

5

In [112]:
#대문자 치환
song.upper()

'TELL ME TELL ME TETETETETE TELL ME'

In [113]:
#소문자 치환
song.lower()

'tell me tell me tetetetete tell me'

In [114]:
#앞글자만 대문자
song.title()

'Tell Me Tell Me Tetetetete Tell Me'

In [117]:
#앞뒤 공백 삭제
song.strip()
song.rstrip() #오른쪽 공백 삭제
song.lstrip() #왼쪽 공백 삭제

'tell me tell me tetetetete tell me     '

In [128]:
#자르기
song.split("te")

['', 'll me ', 'll me ', '', '', '', '', ' ', 'll me']

In [121]:
s="나는 밥을 먹었다. 맛있었다."
s.split(". ")

['나는 밥을 먹었다', '맛있었다.']

In [122]:
# 바꾸기
song.replace("me","him")

'tell him tell him tetetetete tell him'

In [125]:
#추후 크롤링에서 설명 예정-참고
import re
t=re.compile("tell")
t.findall(song)

['tell', 'tell', 'tell']

In [127]:
print(song.upper(),"\n",song.lower(),"\n",song.title())

TELL ME TELL ME TETETETETE TELL ME
 tell me tell me tetetetete tell me
 Tell Me Tell Me Tetetetete Tell Me