In [1]:
# ""는 문자
num="7"
type(num)

str

In [2]:
#int(),float()=숫자로 변경
7+float("10")

17.0

In [1]:
#input()=입력받기
num=int(input("정수를 입력하세요: "))

정수를 입력하세요: 7

In [ ]:
num1=float(input("숫자를 입력하세요: "))
num2=float(input("숫자를 입력하세요: "))
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)

In [ ]:
#문자끼리 계산
str1="처음"
str2="처럼"
str1+str2

In [ ]:
#숫자+문자->숫자를 문자로 변경
num1=12
str3="시"

str(num1)+str3

In [ ]:
#숫자*문자->문자를 숫자 횟수만큼
num1*str3

In [ ]:
# **(곱하기 2번): 지수
2**3

In [ ]:
a=7
print(a)
a=a+2
print(a)

In [ ]:
# +=,-=,*=,/=,**= 모두 가능
a=7
a+=2
a

In [ ]:
a=7
a**=2
a

In [ ]:
a=5
b=7

a,b=b,a
print(a,b)

In [2]:
korean=int(input("국어 점수를 입력하세요: "))
math=int(input("수학 점수를 입력하세요: "))
english=int(input("영어 점수를 입력하세요: "))
print((korean+math+english)/3)

국어 점수를 입력하세요: 80
수학 점수를 입력하세요: 75
영어 점수를 입력하세요: 60
71.66666666666667

In [3]:
#not 참인명제: 여집합 출력
not 1 + 1 == 2

False

In [4]:
#and,or
#not은 전체수식하지x, 바로 뒷 명제만 수식
not 1+1==2 and 2+2==4

False

In [5]:
#80점 초과이면 합격, 이하이면 불합격
score=90
print("합격") if score>80 else print("불합격")

합격

In [7]:
a=int(input("정수를 입력하세요: "))
print("7의 배수입니다") if a%7==0 else print("그 외")

정수를 입력하세요: 56
7의 배수입니다

In [15]:
True+2

3

In [13]:
False==0

True